<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('../static/img/Consultorio-medico.jpg'); /* Change 'url_of_the_image.jpg' to the URL of your image */
            background-size: cover;
            background-position: center;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
    </style>
</head>
<body>
    <form action="/logueo" method="get">
        <button class="btn btn-primary rounded-3" type="submit">Iniciar Sesión</button>
    </form>
</body>
</html>