{% extends './basegral.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de Administración</title>
    <link rel="stylesheet" href="static/css/bootstrap452.min.css">
    <style>
        /* Estilo adicional */
        .panel-titulo {
            background-color: #f8f9fa;
            padding: 10px;
            margin-bottom: 20px;
        }
        .lista {
            margin-bottom: 20px;
        }
    </style>
</head>
<body> 
</body>
</html>
