<!-- turnos.html -->
{% extends './basegral.html' %}

{% block page_content %}

<div class="container rounded-4" gap-3 style="background-color: rgb(189, 189, 181, 0.432);">
  <!-- Buscar por usuario -->
  <div class="row mt-3 border border-3 rounded-4" style="background-color: rgb(248, 248, 233); ">
    <form id="filtro" action="turnos" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">

      <div class="col my-3">
        <div class="input-group">
          <!---Campo:profesional   ---->
          <label for="professel" class="me-3 text-start" style="width: 75px;">Profesional:</label>
          <select name="professel" class="form-control select2 select2-hidden-accessible mx-2 me-3" style="width: 25%;"
            tabindex="-1" aria-hidden="true">
            
            {% if user.profesional == 'SI' %}
              <option value="{{ user.id }}" selected>{{ user.nombre }}</option>
            {% else %}
              <option value="0">Todos</option>

              {% for UsuV in ListaProf %}
                {% if UsuV.id == idprof|int %}
                  <option value="{{ UsuV.id }}" selected>{{ UsuV.nombre }}</option>
                {% else %}
                  <option value="{{ UsuV.id }}">{{ UsuV.nombre }}</option>
                {% endif %}
              {% endfor %}  
            {% endif %}
          </select>
          <!---Campo:Fecha Desde -->
          <label for="fechad" class="me-2 mx-2" style="width: 90px;">Fecha Desde:</label>
          <input type="date" class="form-control-sm" id="fechad" name="fechad" value="{{fechad}}">
          <button class="btn btn-primary rounded-3 ms-2 mx-2" title="Buscar" type="submit">Buscar</button>
        </div>
        <div class="input-group">
          <!---Campo:paciente -->
          <label for="pacsel" class="me-3 text-start" style="width: 75px;">Paciente:</label>
          <select name="pacsel" class="form-control select2 select2-hidden-accessible mx-2 me-3" style="width: 25%;" tabindex="-1"
            aria-hidden="true" title="Seleccionar Paciente">
            <option value="0">Todos</option>
            {% for PacV in ListaPac %}
            {% if PacV.idpac == idpac|int %}
            <option value="{{ PacV.idpac }}" selected>{{ PacV.nombre }} - {{ PacV.dni }} </option>
            {% else %}
            <option value="{{ PacV.idpac }}">{{ PacV.nombre }} - {{ PacV.dni }} </option>
            {% endif %}
            {% endfor %}
          </select>
          <!---Campo:Fecha Hasta -->
          <label for="fechah" class="me-2 mx-2" style="width: 90px;">Fecha Hasta:</label>
          <input type="date" class="form-control-sm" id="fechah" name="fechah" value="{{fechah}}">
          <button type="button" class="btn btn-primary rounded-3 ms-2 mx-2" data-bs-toggle="modal" data-bs-target="#modal_add_turno"
            title="Crear Nuevo Registro"> Agregar</button>
        </div>
      </div>


    </form>
  </div>

  <!--- FORM MODAL PARA AGREGAR TURNO    --->
  <div id="modal_add_turno" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary text-center">Agregar Nuevo Turno </h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="form_add_turno" action="AltaTurno" method="POST">

            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">

            <!---Campo:Fecha   -->
            <div class="form-group">
              <label for="reg_fecha">Fecha:</label>
              <input type="date" class="form-control datepicker" id="reg_fecha" name="reg_fecha"
                placeholder="Ingrese Fecha..." required>
            </div>

            <!---Campo:Hora   --->
            <div class="form-group">
              <label for="hora">Hora:</label>
              <input type="time" class="form-control" id="hora" name="hora" placeholder="Ingrese Hora..." required>
            </div>

            <!---Campo:profesional   ---->
            <div class="form-group">
              <label for="reg_prof">Profesional</label>
              <div class="input-group">
                <select name="reg_prof" class="form-control select2 select2-hidden-accessible" style="width: 100%;"
                  tabindex="-1" aria-hidden="true" title="Seleccionar Profesional">
                  {% if user.profesional == 'SI' %}
                    <option value="{{ user.id }}" selected>{{ user.nombre }}</option>
                  {% else %}
                    {% for UsuV in ListaProf %}
                    <option value="{{ UsuV.id }}">{{ UsuV.nombre }}</option>
                    {% endfor %}
                  {% endif %}
                </select>
              </div>
            </div>

            <!---Campo:paciente   ---->
            <div class="form-group">
              <label for="reg_pac">Paciente:</label>
              <div class="input-group">
                <select name="reg_pac" class="form-control select2 select2-hidden-accessible" tabindex="-1"
                  aria-hidden="true" title="Seleccionar Paciente" required>
                  <option value=""></option>
                  {% for PacV in ListaPac %}
                  <option value="{{ PacV.idpac }}">{{ PacV.nombre }} - {{ PacV.dni }} </option>
                  {% endfor %}
                </select>

                <!--<div class="input-group-append">
                  <button type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#agregarPacienteModal">+</button>
                </div>-->
              </div>

            </div>

            <!---Campo:actividad (Control - Consulta)   ---->
            <div class="form-group">
              <label for="reg_act">Actividad</label>
              <div class="input-group">
                <select name="reg_act" type="selectpicker" data-live-search="true" id="reg_act" class="form-control"
                  title="Seleccione Actividad...">
                  <option>Control</option>
                  <option>Consulta</option>
                </select>
              </div>
            </div>

            <!---Campo:estado (por defecto va a ser "En Agenda")  ---->
            <!---Campo:Horallega  vacío ---->
            <!---Campo:Horatiende vacío ---->

            <!---Botón:Registra--->
            <button type="submit" class="btn btn-primary rounded-3 md-2">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Cabecera lista de turnos -->
<div class="row mt-2 border border-3 rounded-4" style="background-color: rgb(248, 248, 233);">
  <table class="table table-hover rounded-4">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
        <th scope="col">Paciente</th>
        <th scope="col">Actividad</th>

      </tr>
    </thead>
    <tbody>
      {% for TurV in Lista %}
      <tr>
        <td>{{ TurV.fecha.strftime('%d/%m/%Y') }}</td>
        <td>{{ TurV.horaturno }}</td>
        <td>{{ TurV.nompac }}</td>
        <td>{{ TurV.actividad }}</td>
        <td>
          <a href="EditarTurno/{{ TurV.idturno }}" class="btn editar-btn" data-bs-toggle="modal"
            data-bs-target="#modal_edit_turno{{ TurV.idturno }}" type="button">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </a>
          <a class="btn" href="BorrarTurno/{{ TurV.idturno }}"
            onclick="return confirm('Seguro que desea eliminar el registro?')">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </a>
        </td>
      </tr>



      <!--- FORM MODAL PARA EDITAR TURNO --->
      <div class="modal fade" id="modal_edit_turno{{ TurV.idturno }}" data-bs-backdrop="static" data-bs-keyboard="false"
        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-primary text-center">Editar Datos del Turno </h5>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="Editar_Tur" method="POST" action="EditarTurno/{{ TurV.idturno }}">
                <input type="hidden" name="id" value="{{ TurV.idturno }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">

                <!---Campo:Fecha   ---->
                <div class="form-group">
                  <label for="edit_fecha">Fecha:</label>
                  <input type="date" value="{{ TurV.fecha }}" class="form-control" id="edit_fecha" name="edit_fecha"
                    placeholder="Ingrese Fecha..." required>

                </div>

                <!---Campo:Hora   --->
                <div class="form-group">
                  <label for="edit_hora">Hora:</label>
                  <input value="{{ TurV.horaturno }}" type="time" class="form-control" id="edit_hora" name="edit_hora"
                    placeholder="Ingrese Hora..." required>
                </div>
                <!---Campo:profesional   ---->
                <div class="form-group">
                  <label for="edit_prof">Profesional</label>
                  <div class="input-group">
                    <select name="edit_prof" id="edit_prof" class="form-control select2 select2-hidden-accessible"
                      style="width: 100%;" tabindex="-1" aria-hidden="true" title="Seleccionar Profesional"> 
                      {% if user.profesional == 'SI' %}
                        <option value="{{ user.id }}" selected>{{ user.nombre }}</option>
                      {% else %}
                        {% for UsuV in ListaProf %}
                          {% if UsuV.id == TurV.idprofesional %}
                            <option value="{{ UsuV.id }}" selected>{{ UsuV.nombre }}</option>
                          {% else %}
                            <option value="{{ UsuV.id }}">{{ UsuV.nombre }}</option>
                          {% endif %}
                        {% endfor %}
                      {% endif %}
                    </select>
                  </div>
                </div>

                <!---Campo:paciente   ---->
                <div class="form-group">
                  <label for="edit_pac">Paciente:</label>
                  <div class="input-group">
                    <select name="edit_pac" class="form-control select2 select2-hidden-accessible" tabindex="-1"
                      aria-hidden="true" title="Seleccionar Paciente">
                      {% for PacV in ListaPac %}
                      {% if PacV.idpac == TurV.idpaciente %}
                      <option value="{{ PacV.idpac }}" selected>{{ PacV.nombre }} - {{ PacV.dni }} </option>
                      {% else %}
                      <option value="{{ PacV.idpac }}">{{ PacV.nombre }} - {{ PacV.dni }} </option>
                      {% endif %}
                      {% endfor %}
                    </select>

                    <!--<div class="input-group-append">
                      <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#agregarPacienteModal">+</button>
                    </div>-->
                  </div>

                </div>


                <!---Campo:Actividad   ---->
                <div class="form-group">
                  <label for="edit_act">Actividad</label>
                  <div class="input-group">
                    <select name="edit_act" type="selectpicker" data-live-search="true" id="edit_act" 
                      class="form-control" title="Seleccione Actividad...">
                      {% for itemh in Lacti %}
                      {% if itemh == TurV.actividad %}
                      <option value="{{ itemh }}" selected>{{ itemh }} </option>
                      {% else %}
                      <option value="{{ itemh }}">{{ itemh }} </option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <!---Campo:Estado   ---->
                <div class="form-group">
                  <label for="edit_estado">Estado</label>
                  <div class="input-group">
                    <select name="edit_estado" type="selectpicker" data-live-search="true" id="edit_estado" 
                      class="form-control" title="Seleccione Estado...">
                      {% for itemh in Lesta %}
                      {% if itemh == TurV.estado %}
                      <option value="{{ itemh }}" selected>{{ itemh }} </option>
                      {% else %}
                      <option value="{{ itemh }}">{{ itemh }} </option>
                      {% endif %}
                      {% endfor %}

                    </select>
                  </div>
                </div>

                <!---Campo:horallega   ---->
                <div class="form-group">
                  <label for="edit_horallega">Hora de Llegada</label>
                  <input value="{{ TurV.horallega }}" name="edit_horallega" type="time" class="form-control"
                    id="edit_horallega" placeholder="Ingrese Hora">
                </div>
                <!---Campo:horaatiende   ---->
                <div class="form-group">
                  <label for="edit_horaatiende">Hora de Atención</label>
                  <input value="{{ TurV.horaatiende }}" name="edit_horaatiende" type="time" class="form-control"
                    id="edit_horaatiende" placeholder="Ingrese Hora">
                </div>

                <!---Botón:Registra--->
                <button type="submit" class="btn btn-primary rounded-3 md-2">Registrar</button>
              </form>
            </div>

          </div>
        </div>
      </div>

      <!-- Editar Turno -->
      <script>
        $('#modal_edit_turno{{ TurV.idturno }}').on('shown.bs.modal', function () {
          $('.select2').select2({
            dropdownParent: $('#modal_edit_turno{{ TurV.idturno }}'),
            closeOnSelect: true
          });
      
        });
      </script>

      {% endfor %}

    </tbody>

  </table>
  {{ Pagination.links}}
</div>


<!-- Script para obtener y mostrar la fecha actual -->
<script>
  // Obtener la fecha actual en formato ISO (YYYY-MM-DD)
  var fechaActual = new Date().toISOString().split('T')[0];
  // Establecer la fecha actual como valor del campo de fecha
  document.getElementById('reg_fecha').value = fechaActual;
  //document.getElementById('fechad').value = fechaActual;
  //document.getElementById('fechah').value = fechaActual;
</script>

<!-- Script para abrir comonente select2 con busqueda -->
<script>
  $(document).ready(function () {
    $('.select2').select2({
      closeOnSelect: true
    });
 
  });
</script>

<!-- Alta Turno -->
<script>
  $('#modal_add_turno').on('shown.bs.modal', function () {
    $('.select2').select2({
      dropdownParent: $('#modal_add_turno'),
      closeOnSelect: true
    });
  });
</script>



{% endblock %}