{% extends './basegral.html' %}

{% block page_content %}

<div class="container rounded-4" style="background-color: rgba(189, 189, 181, 0.432); gap: 3;">
  <!-- Buscar por usuario -->
  <div class="row mt-3 border border-3 rounded-4" style="background-color: rgb(248, 248, 233);">
    <form id="filtro" action="usuarios" method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
      <div class="col my-3">
        <div class="input-group">
          <label for="ususel" class="me-3">Usuario:</label>
          <select name="ususel" class="form-control select2 select2-hidden-accessible me-3" style="width: 30%;" tabindex="-1" aria-hidden="true" title="Seleccionar Usuario">
            <option value="0">Todos</option>
            {% for UsuV in Lista %}
              <option value="{{ UsuV.id }}">{{ UsuV.nombre }}</option>
            {% endfor %}
          </select>
        
          <button class="btn btn-primary ms-2 me-3" title="Buscar Paciente" type="submit" id="buscarBtn">Buscar</button>
          <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#modal_add" title="Crear Nuevo Registro">Agregar Usuario</button>
        </div>
      </div>
    </form>
  </div>

  <!-- FORM MODAL PARA AGREGAR USUARIO -->
  <div id="modal_add" class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-primary text-center">Agregar Nuevo Usuario</h5>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <form id="modal_add" action="AltaUsuario" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
            <div class="form-group">
              <label for="registro_nombre">Nombre</label>
              <input name="nombre" type="text" class="form-control" id="registro_nombre" placeholder="Ingrese Nombre" required>
            </div>
            <div class="form-group">
              <label for="registro_mail">Mail</label>
              <input name="mail" type="email" class="form-control" id="registro_mail" placeholder="Ingrese Mail" required>
            </div>
            <div class="form-group">
              <label for="registro_clave">Clave</label>
              <input name="clave" type="password" class="form-control" id="registro_clave" placeholder="Ingrese clave">
            </div>
            <div class="form-group">
              <label for="registro_telefono">Teléfono</label>
              <input name="telefono" type="text" class="form-control" id="registro_telefono" placeholder="Ingrese telefono">
            </div>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" value="SI" id="profesional" name="chkprof">
              <label class="form-check-label" for="profesional">Es Profesional</label>
            </div>
            <button type="submit" class="btn btn-primary md-2">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  
</div>

<!-- Cabecera lista de usuarios -->
<div class="row mt-2 border border-3 rounded-4" style="background-color: rgb(248, 248, 233);">
  <table class="table table-hover rounded-1">
    <thead>
      <tr>
        <th scope="col">Usuario</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Mail</th>
        <th scope="col">Profesional</th>
      </tr>
    </thead>
    <tbody>
      {% for UsuV in Lista %}
        <tr>
          <td>{{ UsuV.nombre }}</td>
          <td>{{ UsuV.telefono }}</td>
          <td>{{ UsuV.mail }}</td>
          <td>
            {% if UsuV.profesional == 'SI' %}
              {{ UsuV.profesional }}
            {% endif %}
          </td>
          <td>
            <a href="EditarUsuario/{{ UsuV.id }}" class="btn" data-bs-toggle="modal" data-bs-target="#modal_editar_Usu" type="button">
              <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
            <a class="btn" href="BorrarUsuario/{{ UsuV.id }}" onclick="return confirm('Seguro que desea eliminar el registro?')">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
          </td>
        </tr>

        <!-- FORM MODAL PARA EDITAR USUARIO -->
        <div class="modal fade" id="modal_editar_Usu" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-primary text-center">Editar Datos de Usuario</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form id="Editar_Usu" action="EditarUsuario/{{ UsuV.id }}" method="POST">
                  <input type="hidden" name="id" value="{{ UsuV.idu }}">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token()}}">
                  <div class="form-group">
                    <label for="registro_nombre">Nombre</label>
                    <input value="{{ UsuV.nombre }}" name="nombre" type="text" class="form-control" id="registro_nombre" placeholder="Ingrese Nombre" required>
                  </div>
                  <div class="form-group">
                    <label for="registro_mail">Mail</label>
                    <input value="{{ UsuV.mail }}" name="mail" type="email" class="form-control" id="registro_mail" placeholder="Ingrese Mail" required>
                  </div>
                  <div class="form-group">
                    <label for="registro_clave">Clave</label>
                    <input value="{{ UsuV.clave }}" name="clave" type="password" class="form-control" id="registro_clave" placeholder="Ingrese clave">
                  </div>
                  <div class="form-group">
                    <label for="registro_telefono">Teléfono</label>
                    <input value="{{ UsuV.telefono }}" name="telefono" type="text" class="form-control" id="registro_telefono" placeholder="Ingrese telefono">
                  </div>
                  <div class="form-check form-switch">
                    {% if UsuV.profesional == 'SI' %}
                      <input class="form-check-input" type="checkbox" role="switch" value="SI" id="profesional" name="chkprof" checked>
                    {% else %}
                      <input class="form-check-input" type="checkbox" role="switch" value="SI" id="profesional" name="chkprof">
                    {% endif %}
                    <label class="form-check-label" for="profesional">Es Profesional</label>
                  </div>
                  <button type="submit" class="btn btn-primary md-2">Registrar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </tbody>
  </table>
  {{ Pagination.links}}
</div>

<!-- Script for opening select2 component with search -->
<script>
  $(document).ready(function() {
      $('.select2').select2({
      closeOnSelect: true
  });
  });
</script>

{% endblock %}