/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4c6177;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #506b88;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

a {
    color: #68a775;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.search {
    margin-bottom: 20px;
}

.users ul {
    list-style-type: none;
    padding: 0;
}

.users ul li {
    margin-bottom: 10px;
}

.btn-custom {
    background-color: rgb(67, 67, 161);
    border-color: rgb(67, 67, 161);
    color: #fff; /* Cambia el color del texto si es necesario */
  }